{% load static %}
<!DOCTYPE html>
<html>
    <head>
         <!--hi yasser-->
        <title>change color</title> 
        <script src="{% static 'try/nn.js' %}"></script>
        
    </head>
    <body>
        <h1 id="header">change my color</h1>
        <form id="form">
            <label for="color_name">enter Text</label>
            <input type="text" placeholder="enter color" id="color_name" name='color_name'>
            <button type="submit">click to send</button>
        </form>

    </body>
     
</html>
